<%- include('header') %>
<%- include('nav') %>
<%- include('load') %>
<div id="index_1" class="page">
    <div class="contents">
        <div class="item_grid">
            <div>
                <div class="w6 h6 oflowL">
                    <%-include('svg')%>
                </div>
            </div>
            <div>
                <div class="w4 h4">
                    <div class="w6 h3"><img src="img/index/hanger.png" srcset= "img/index/hanger.png 1x, img/index/hanger@2x.png 2x, img/index/hanger@3x.png 3x"></div>
                    <div class="w3 h3"><img src="img/index/wallet.png" srcset= "img/index/wallet.png 1x, img/index/wallet@2x.png 2x, img/index/wallet@3x.png 3x"></div>
                    <div class="w3 h3">
                        <div class="w3 h3"><img src="img/index/clip.png" srcset="img/index/clip.png 1x, img/index/clip@2x.png 2x, img/index/clip@3x.png 3x"></div>
                        <div class="w3 h3"><img src="img/index/hair-tie.png" srcset="img/index/hair-tie.png 1x, img/index/hair-tie@2x.png 2x, img/index/hair-tie@3x.png 3x"></div>
                        <div class="w3 h3"><img src="img/index/watch.png" srcset="img/index/watch.png 1x, img/index/watch@2x.png 2x, img/index/watch@3x.png 3x"></div>
                        <div class="w3 h3"><img src="img/index/perfume.png" srcset="img/index/perfume.png 1x, img/index/perfume@2x.png 2x, img/index/perfume@3x.png 3x"></div>
                    </div>
                </div>
                <div class="w2 h4">
                    <div class="w6 h2"><img src="img/index/comb.png" srcset="img/index/comb.png 1x, img/index/comb@2x.png 2x, img/index/comb@3x.png 3x"></div>
                    <div class="w3 h4">
                        <div class="w6 h2"><img src="img/index/carabiner.png" srcset="img/index/carabiner.png 1x, img/index/carabiner@2x.png 2x, img/index/carabiner@3x.png 3x"></div>
                        <div class="w6 h4"><img src="img/index/i-phone-x-mockup.png" srcset="img/index/i-phone-x-mockup.png 1x, img/index/i-phone-x-mockup@2x.png 2x, img/index/i-phone-x-mockup@3x.png 3x"></div>
                    </div>
                    <div class="w3 h4"><img src="img/index/wrist-watch.png" srcset="img/index/wrist-watch.png 1x, img/index/wrist-watch@2x.png 2x, img/index/wrist-watch@3x.png 3x"></div>
                </div>
                <div class="w6 h2">
                    <div class="w1 h6"><img src="img/index/label.png" srcset="img/index/label.png 1x, img/index/label@2x.png 2x, img/index/label@3x.png 3x"></div>
                    <div class="w2 h6">
                        <div class="w6 h3"><img src="img/index/card.png" srcset="img/index/card.png 1x, img/index/card@2x.png 2x, img/index/card@3x.png 3x"></div>
                        <div class="w6 h3"><img src="img/index/card-2.png" srcset="img/index/card-2.png 1x, img/index/card-2@2x.png 2x, img/index/card-2@3x.png 3x"></div>
                    </div>
                    <div class="w2 h6">
                        <div class="w6 h3"><img src="img/index/glasses-case.png" srcset="img/index/glasses-case.png 1x, img/index/glasses-case@2x.png 2x, img/index/glasses-case@3x.png 3x"></div>
                        <div class="w6 h3"><img src="img/index/glasses.png" srcset="img/index/glasses.png 1x, img/index/glasses@2x.png 2x, img/index/glasses@3x.png 3x"></div>
                    </div>
                    <div class="w1 h6"><img src="img/index/sack.png" srcset="img/index/sack.png 1x, img/index/sack@2x.png 2x, img/index/sack@3x.png 3x"></div>
                </div>
            </div>
            <div>
                <div class="w6 h6 oflowR"><img src="img/index/mac.png" srcset="img/index/mac.png 1x, img/index/mac@2x.png 2x, img/index/mac@3x.png 3x"></div>
            </div>
            <div>
                <div class="w6 h6">
                    <div class="w4 h5"><img src="img/index/book.png" srcset="img/index/book.png 1x, img/index/book@2x.png 2x, img/index/book@3x.png 3x"></div>
                    <div class="w2 h5"><img src="img/index/group-5.png" srcset="img/index/group-5.png 1x, img/index/group-5@2x.png 2x, img/index/group-5@3x.png 3x"></div>
                </div>
            </div>
            <div>
                <div class="w3 h6"><img src="img/index/t-shirt-folded.png" srcset="img/index/t-shirt-folded.png 1x, img/index/t-shirt-folded@2x.png 2x, img/index/t-shirt-folded@3x.png 3x"></div>
                <div class="w3 h6"><img src="img/index/bag-jeans-v-1.png" srcset="img/index/bag-jeans-v-1.png 1x, img/index/bag-jeans-v-1@2x.png 2x, img/index/bag-jeans-v-1@3x.png 3x"></div>
            </div>
            <div>
                <div class="w2 h6"><img src="img/index/umbrella.png" srcset="img/index/umbrella.png 1x, img/index/umbrella@2x.png 2x, img/index/umbrella@3x.png 3x"></div>
                <div class="w4 h6 oflowR_SPECIAL"><img src="img/index/t-shirt-messy.png" srcset="img/index/t-shirt-messy.png 1x, img/index/t-shirt-messy@2x.png 2x, img/index/t-shirt-messy@3x.png 3x"></div>
            </div>
        </div>
        <form class="textbox">
            <input type="text" name="Name" placeholder="Type Your Name" autocomplete="off" autofocus="autofocus" id="TypeName">
        </form>
    </div>
</div>
<%- include('footer')%>
